{% set loggedin = is_granted('ROLE_USER') %}
{% set is_mod = is_granted('ROLE_MOD') %}
{% set is_admin = is_granted('ROLE_ADMIN') %}

<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}Velo 24/7</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('css/general.css') }}">
        {% block style %}
            {% if loggedin %}
                <link rel="stylesheet" href="{{ asset('css/loggedin_features.css') }}">
            {% else %}
                <link rel="stylesheet" href="{{ asset('css/authentication.css') }}">
            {% endif %}
        {% endblock %}
        {% block style_addition %}{% endblock %}
    </head>
    
    <body>
        {% block body %}
            <header class="top-header">
                <div class="top-bar">
                    <div class="top-bar-infos">
                        Forum en cours de développement, plus de détails <a href="{{ path('legal') }}">ici</a>
                    </div>
                    <div class="user-block">
                        {% block user %}
                            {% if loggedin %}
                                <a href="{{ path('own_profile') }}">Profil</a>
                                <div class="notifs-container">
                                    <div class="notifs">
                                        <img src="{{ asset('images/notifs.png') }}">
                                        <div id="notif-modal" class="hidden">
                                        </div>
                                        <div id="notif-modal-arrow" class="hidden"></div>
                                    </div>
                                    {% if app.user.notifsNb > 0 %}
                                        <div class="notifs-nb">
                                            {{ app.user.notifsNb }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <a href="{{ path('login') }}">Se connecter/S'inscrire</a>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
                
            </header>
            
            <div class="main-and-footer">
                <main>
                    <header class="title-header">
                        <a href="{{ path('root') }}" id="title">VELO 24/7</a>
                        <div id="legend">Le vélo partout, tout le temps</div>
                    </header>
                    <header class="categories-header">
                        <ul class="categories">
                            {% set selected = " id=selected-category" %}
                            <li{% block forum_selected %}{% endblock %}>
                                <a href="{{ path('root') }}">Forum</a>
                            </li>
                            <li{% block gallery_selected %}{% endblock %}>
                                <a href="{{ path('gallery') }}">Galeries photos</a>
                            </li>
                            <li{% block peloton_selected %}{% endblock %}>
                                <a href="{{ path('peloton') }}">Courir en peloton</a>
                            </li>
                            <li{% block circuits_selected %}{% endblock %}>
                                <a href="{{ path('circuits') }}">Circuits</a>
                            </li>
                            <li{% block repair_selected %}{% endblock %}>
                                <a href="{{ path('repair') }}">Ateliers de réparation</a>
                            </li>
                        </ul>
                        <div class="separator"></div>
                    </header>

                    <div class="main-content">
                        {% block main_content %}{% endblock %}
                    </div>
                </main>
                <footer>
                    <a href="{{ path('legal') }}">A propos / Mentions légales</a>
                </footer>
            </div>
        {% endblock %}
    </body>
    {% if loggedin %}
        <script src="{{ asset('js/notifs.js') }}"></script>
    {% endif %}
    {% block scripts %}{% endblock %}
</html>
