{% extends "forum.html.twig" %}

{% block title %}{{ name }} - {% endblock %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/forum-sub-category.css') }}">
{% endblock %}

{% block navigation %}
    <span> &gt; </span>
    <a href="{{ path('sub_category', { 'sub_category_id': sub_category_id }) }}">{{ name }}</a>
{% endblock %}
{% block section_title %}{{ name }}{% endblock %}
{% block new_topic %}
    {% if loggedin %}
        <a href="{{ path('new_topic', { 'sub_category_id': sub_category_id }) }}" class="new-topic">Nouveau Sujet</a>
    {% endif %}
{% endblock %}

{% block left_content %}
    <div class="topics-list">
        {% for topic in topics %}
            <div class="topic">
                <div class="topic-title-side">
                    <div class="topic-title">
                        {% if topic.pinned %}
                            <img src="{{ asset('images/pinned.png') }}">
                        {% endif %}
                        {% if topic.locked %}
                            <img src="{{ asset('images/locked.png') }}">
                        {% endif %}
                        <a href="{{ path('topic', { 'topic_id': topic.id, 'topic_slug': topic.slug }) }}">
                            {% if topic.new_messages %}
                                <strong>{{ topic.title }}</strong>
                            {% else %}
                                {{ topic.title }}
                            {% endif %}
                        </a>
                    </div>
                    <div class="author-infos">
                        <div class="topic-author">
                            Par <a href="{{ path('user_profile', { 'name': topic.author }) }}">{{ topic.author }}</a>
                        </div>
                        <div class="topic-date">
                            Le {{ topic.date }}
                        </div>
                    </div>
                </div>
                <div class="topic-other-side">
                    <div class="topic-numbers-side">
                        <div class="topic-messages">
                            <span>{{ topic.messages_nb }}</span> Messages
                        </div>
                        <div class="topic-views">
                            <span>{{ topic.views_nb }}</span> Vues
                        </div>
                    </div>
                    <div class="last-message-side">
                        <div class="last-message-photo">
                            <a href="{{ path('user_profile', { 'name': topic.last_message.author }) }}">
                                <img src="{{ asset('images/') ~ topic.last_message.photo }}">
                            </a>
                        </div>
                        <a href="{{ path('topic', { 'topic_id': topic.id, 'topic_slug': topic.slug })
                            ~ '#' ~ topic.last_message.id }}" class="last-message-infos">
                            <div class="last-message-author">
                                Par <strong>{{ topic.last_message.author }}</strong>
                            </div>
                            <div class="last-message-date">
                                Le {{ topic.last_message.date }}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {% if is_mod %}
        <script src="{{ asset('js/sub-category-mod-actions.js') }}"></script>
    {% endif %}
{% endblock %}
