{% extends "base.html.twig" %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/profile-edition.1.css') }}">
{% endblock %}

{% block main_content %}
    <h1 class="username">{{ name }}</h1>
    {% if error is defined %}
        <div class="error">{{ error }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/profile-edition.js') }}"></script>
{% endblock %}
