{% extends "base.html.twig" %}

{% block title %}Profil de {{ user.name }} - {% endblock %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block main_content %}
    <div class="profile-content">
        <div class="profile-username">
            <h1 class="username">{{ user.name }}</h1>
            {% if own %}
                <a href="{{ path('edit_profile', { 'name': user.name }) }}" class="edit-profile">Modifier</a>
            {% endif %}
        </div>
        <div class="photo">
            <div><img src="{{ asset('images/') ~ user.photo }}"></div>
        </div>
        <div class="details">
            <p><span>Inscrit depuis le :</span><span>{{ user.date|date("d/m/Y") }}</span></p>
            {% set roles = user.roles %}
            {% if roles.ROLE_ADMIN is defined %}
                <strong class="admin">Administrateur</strong>
            {% elseif roles.ROLE_MOD is defined %}
                <strong class="mod">Modérateur</strong>
            {% endif %}
            <p><span>Messages postés sur le forum :</span><span>{{ user.messagesNb }}</span></p>
            {% if user.city is not null %}
                <p><span>Localisation :</span><span>{{ user.city }}, {{ user.country }}</span></p>
            {% endif %}
        </div>
        {% if user.signature is not null %}
            <div class="signature"><span>Signature :</span><span>{{ user.signature }}</span></p></div>
        {% endif %}
        {% if own or roles.ROLE_ADMIN is defined or roles.ROLE_MOD is defined %}
            <div class="posts">
                <a href="{{ path('profile_posts', { 'name': user.name, 'category': 'topics' }) }}">
                    Sujets créés
                </a>
                <a href="{{ path('profile_posts', { 'name': user.name, 'category': 'messages' }) }}">
                    Messages postés
                </a>
                <a href="{{ path('profile_posts', { 'name': user.name, 'category': 'galleries' }) }}">
                    Galleries photo créées
                </a>
                <a href="{{ path('profile_posts', { 'name': user.name, 'category': 'gallery_messages' }) }}">
                    Messages postés dans les galleries photo
                </a>
            </div>
        {% endif %}
        {% if own %}
            <div class="logout-container">
                <a href="{{ path('logout') }}" class="logout">Déconnexion</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
