{% extends 'base.html.twig' %}

{% block title %}Inscription - {% endblock %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block main_content %}
    <h1>Inscription</h1>
    {% if errors is defined %}
        <div class="errors">{{ errors }}</div>
    {% endif %}
    
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
