{% extends "forum.html.twig" %}

{% block title %}{{ topic.title }} - {% endblock %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/topic.1.css') }}">
    {% if loggedin %}
        <link rel="stylesheet" href="{{ asset('css/message-actions.css') }}">
    {% endif %}
{% endblock %}

{% block navigation %}
    <span> &gt; </span>
    <a href="{{ path('sub_category', { 'sub_category_id': topic.sub_category_id }) }}">{{ topic.sub_category }}</a>
    <span> &gt; {{ topic.title }}</span>
{% endblock %}
{% block section_title %}
    {% if topic.locked %}
        <img src="{{ asset('images/locked.png') }}">
    {% endif %}
    {% if topic.pinned %}
        <img src="{{ asset('images/pinned.png') }}">
    {% endif %}
    <span id="topic-title">{{ topic.title }}</span>
{% endblock %}

{% block left_content %}
    {% set i = 0 %}
    {% for message in messages %}
        {% set author = authors[message.author_id] %}
        {% set i = i + 1 %}
        <div class="message" id="{{ message.id }}">
            <div class="user-side">
                <div class="photo">
                    <a href="{{ path('user_profile', { 'name': author.name }) }}">
                        <img src="{{ asset('images/') ~ author.photo }}">
                    </a>
                </div>
                <a href="{{ path('user_profile', { 'name': author.name }) }}" class="author">
                    {{ author.name }}
                </a>
                {% if author.role is not null %}
                    <div class="role">
                        {{ author.role }}
                    </div>
                {% endif %}
                <div class="author-messages-nb">
                    <span>{{ author.messages_nb }}</span> Messages
                </div>
                {% if author.city is not null %}
                    <div class="location">
                        <div class="location-title">Localisation:</div>
                        <span>{{ author.city }}, {{ author.country }}</span>
                    </div>
                {% endif %}
            </div>
            <div class="message-side">
                <div class="message-top">
                    <div class="number">
                        <a href="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) ~ '#' ~ message.id }}">
                            #{{ i }}
                        </a>
                    </div>
                    <div class="content">{{ message.content }}</div>
                </div>
                <div class="message-bottom">
                    {% if author.signature is not null %}
                        <div class="signature">
                            {{ author.signature }}
                        </div>
                    {% endif %}
                    <div class="message-infos">
                        {% if loggedin and (is_mod or message.author_id == app.user.id) %}
                            <span class="message-action message-modify">modifier</span>
                            {% if i > 1 %}
                                <span class="message-action message-delete">supprimer</span>
                            {% endif %}
                        {% endif %}
                        <span class="message-date">Le {{ message.date }}</span>
                        {% if message.last_edited is not null %}
                            <span class="message-last-edited">, {{ message.last_edited }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if answer %}
        <div class="answer">
            <h2>Répondre</h2>
            {{ form(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block scripts %}
    {% if loggedin %}
        <script src="{{ asset('js/message-actions.1.js') }}"></script>
    {% endif %}
{% endblock %}
